<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
            {{>header}}

            <div class="contentBody">
                {{!-- PAGE CONTENT GOES HERE --}}
                <div class="error-page-body">
                    <h2>Wait a second ...</h2>
                    <h4>You need to be logged in to do this!</h4>
                    <div class="error-image">
                        <img src="/images/401.jpg" alt="">
                    </div>
                </div>

            </div>

        </div>

        {{>footer}}
    </body>
</html>