<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
            {{>header}}

            <div class="contentBody">
                {{!-- PAGE CONTENT GOES HERE --}}
                <div class="create-account-form">
                    <h2>Create Account</h2>
                    <h4>{{ message }}</h4>
                    <form action="/create-account" method="POST" id="createAccountForm">
                        <input type="text" name="name" class="your-name "placeholder="Your name" required>
                        <input type="text" name="username" class="your-username "placeholder="Choose a username" required>
                        <input type="email" name="email" class="your-email "placeholder="Your email address" required>
                        <input type="password" name="password" class="your-password "placeholder="Choose a password" required>
                        <input type="submit" value="Submit">
                    </form>
                    <div class="validation-messages"></div>
                </div>

            </div>

        </div>

        {{>footer}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js "integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/create-account.js"></script>
    </body>
</html>
