<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
            {{>header}}

            <div class="contentBody">
                {{!-- PAGE CONTENT GOES HERE --}}
                <div class="edit-details-form">
                    <h2>Edit Details</h2>
                    <p>If you do not wish to change one of the below, leave it blank.</p>
                    <p><strong>Changing your email address will require you to re-verify your account.</strong></p>
                    <h4> {{ message }} </h4>
                    <form action="/edit-details" method="POST">
                        <input type="text" name="email" placeholder="Your new email">
                        <input type="password" name="password" placeholder="Your new password">
                        <input type="Submit" value="Submit">
                    </form>                   
                </div>

            </div>

        </div>

        {{>footer}}
    </body>
</html>