<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
        {{>header}}

        <div class="contentBody">
            {{!-- PAGE CONTENT GOES HERE --}}
            <div class="details-form">
                {{#if userFound}}
                    <h4>Please enter a new password below</h4>
                    <form action="/password-reset/{{token}}" method="POST">
                        <input type="text" placeholder="Your new password" name="password">
                        <input type="submit" value="Submit">
                    </form>
                {{else}}
                    <h4>Cannot find your details! Your password reset link may have expired, please request a new one.</h4>
                {{/if}}
            </div>

        </div>

    </div>

    {{>footer}}
    </body>
</html>