<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <title>Resources App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/cb9907bc66.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="main-content">
        {{>header}}

        <div class="contentBody">
            {{!-- PAGE CONTENT GOES HERE --}}
        <h5>
            Created resources: {{ user.createdResources }}
        </h5>
        <h5>
            Saved resources: {{ user.savedResources }}
        </h5>

        </div>


    </div>
        {{>footer}}
    </body>
</html>