<header>
    <div id="icon">
        <a href="/">
        <img src="/images/icon.png" alt="">
        </a>
    </div>

    <div class="user-info">
        <div class="user-info-circle">
            <i class="fas fa-user-circle"></i>
            <span>{{ username }}</span>               
        </div>
        <div class="user-info-menu">
            <nav>
                <ul>
                    {{#if isLoggedIn}}
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/users/{{ username }}">My Profile</a></li>
                        <li><a href="/edit-details">Edit Details</a></li>
                        <li><a href="/create-resource">Add Resource</a></li>
                    {{else}}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/create-account">Create Account</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</header>
