<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if isLoggedIn }}
            <li><a href="/logout">Logout</a></li>
                <li><a href="/create-resource">Add Resource</a></li>
                <li><a href="/my-resources">My Resources</a></li>
                <span>Logged in as {{ username }}</span>
            {{ else }}
                <li><a href="/login">Login</a></li>
                <li><a href="/create-account">Create Account</a></li>
            {{/if}}
        </ul>
    </nav>
    {{#if message}}
        <div id="customMessage">
            {{ message }}
        </div>
    {{/if}}
</header>
